<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="__STATIC__/module/index/assets/images/favicon.png">
    {php}echo parse_string_val($seo_info, get_defined_vars()){/php}
    <link href="__STATIC__/module/index/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/module/index/assets/plugins/morrisjs/morris.css" rel="stylesheet">
    <link href="__STATIC__/module/index/main/css/style.css" rel="stylesheet">
    <link href="__STATIC__/module/index/main/css/colors/blue.css" id="theme" rel="stylesheet">
    <style>
        body{font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif}
    </style>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">